footer {
    background-color: #252525;
}

#footerBox {
    display: flex;
    justify-content: space-between;
    line-height:50%;
}

footer .logo img{
    width: 80px;
} 

footer div span {
    font-size: 16px;
    font-weight:300;
    color: #aaa;
}

footer div h4 {
    font-size: 16px;
    font-weight:300;
    color: #aaa;
}

.footertextBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footertextBox div {
    padding-top: 60px;
}

.footertextBox div:nth-child(3) {
    padding-bottom: 60px;
}

footer .footerlogo {
    display: flex;
    align-items: center;
}

footer img{
    width:100px;
}
